{% extends "imdb/layout.html" %}

{% block content %}

<h1>Main Page</h1>
<hr>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas interdum quam. Sed quis nunc sed erat suscipit bibendum id ut turpis. Phasellus mi elit, convallis eget neque in, convallis maximus orci. Pellentesque laoreet lobortis massa, nec bibendum orci convallis ut. Suspendisse eu eros sem. Mauris tincidunt eu nisi sit amet lobortis. Morbi eleifend mollis eros, nec placerat neque tincidunt volutpat. Quisque imperdiet facilisis lectus et tincidunt. In hac habitasse platea dictumst. Nullam euismod nisi ante, non porttitor elit consectetur sed. Sed vestibulum, nunc id eleifend porttitor, sapien nibh sodales nisl, ut fermentum libero justo ac mauris.

Integer gravida justo sit amet finibus blandit. Cras viverra nec tortor ac venenatis. Curabitur tortor diam, dapibus at ultricies at, blandit vel tellus. In malesuada, arcu sed molestie aliquet, libero odio tristique justo, nec finibus tortor est at nisl. Donec eget porttitor sem. Sed bibendum dictum ligula dapibus ultricies. Duis at blandit eros, et ultricies nulla.</p>


{% endblock %}
